#include <winres.h>

LANGUAGE 4, 2
128 MENU DISCARDABLE
BEGIN
	POPUP "系统设置(&S)"
	BEGIN
		MENUITEM "串口设置"	32777
		MENUITEM "退出(&X)"	57665
	END
	POPUP "工具(&T)"
	BEGIN
		MENUITEM "查看参数"	32773
		MENUITEM "配置参数"	32772
		MENUITEM "命令窗口"	32774
	END
	POPUP "数据采集(&G)"
	BEGIN
		MENUITEM "采集数据"	32775
		MENUITEM "实时曲线显示"	32787
	END
	POPUP "用户校准(&A)"
	BEGIN
		MENUITEM "变送器校准"	32776
	END
END


100 DIALOG 0,0,235,55
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "关于本软件"
FONT 9, "宋体"
BEGIN
	ICON		128,-1,11,17,20,20,0
	LTEXT		"智能数字变送器应用软件V2.0",-1,40,10,119,8,WS_GROUP | SS_NOPREFIX
	LTEXT		"版权所有 (C) 2008",-1,40,25,119,8,WS_GROUP
	DEFPUSHBUTTON	"确定",1,178,7,50,14,WS_GROUP
END

101 DIALOG 0,0,274,182
STYLE WS_CHILD
CAPTION ""
FONT 9, "宋体"
BEGIN
END

131 DIALOG 0,0,211,79
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "串口设置"
FONT 10, "宋体"
BEGIN
	DEFPUSHBUTTON	"确定",1,150,16,53,16,0
	PUSHBUTTON	"取消",2,151,49,53,16,0
	LTEXT		"串口号：",1063,12,19,52,12,WS_GROUP
	LTEXT		"波特率：",1064,12,52,53,13,WS_GROUP
	COMBOBOX	1001,67,17,67,97,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
	COMBOBOX	1002,67,50,67,83,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
END

133 DIALOG 0,0,486,298
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "查看变送器参数"
FONT 10, "宋体"
BEGIN
	LTEXT		"变送器地址:",-1,12,11,42,8,WS_GROUP
	COMBOBOX	1010,60,7,48,292,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
	CONTROL	"List1",1011,"SysListView32",WS_TABSTOP | WS_BORDER | CBS_SIMPLE,7,32,472,238
	PUSHBUTTON	"清空列表",1012,348,7,56,17,0
	PUSHBUTTON	"查看",1039,115,7,56,16,0
	PUSHBUTTON	"搜索",1052,192,7,57,17,0
	PUSHBUTTON	"退出",1,425,7,54,16,0
	CONTROL	"Progress1",1060,"msctls_progress32",WS_BORDER,278,272,201,18
	PUSHBUTTON	"停止搜索",1066,270,7,57,17,0
	LTEXT		"",1114,7,272,270,18,WS_GROUP | SS_SUNKEN
END

135 DIALOG 0,0,387,266
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "配置变送器参数"
FONT 10, "宋体"
BEGIN
	CTEXT		"",1048,71,225,217,20,WS_GROUP | SS_SUNKEN
	LTEXT		"当前地址:",-1,9,18,35,8,WS_GROUP
	PUSHBUTTON	"读参数",1043,113,14,72,20,0
	CTEXT		"",1049,218,14,72,22,NOT WS_VISIBLE | WS_GROUP | WS_DISABLED | SS_SUNKEN
	PUSHBUTTON	"去皮重",1013,304,14,72,22,NOT WS_VISIBLE | WS_DISABLED | BS_LEFT | BS_RIGHT
	LTEXT		"比例因子:",-1,12,83,35,8,WS_GROUP
	CTEXT		"",1044,71,77,96,20,WS_GROUP | SS_SUNKEN
	EDITTEXT	1030,201,75,88,24,WS_BORDER | ES_AUTOHSCROLL
	LTEXT		"变送器地址:",-1,13,158,42,8,WS_GROUP
	CTEXT		"",1046,71,153,96,20,WS_GROUP | SS_SUNKEN
	COMBOBOX	1032,201,153,88,297,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
	COMBOBOX	1033,201,191,88,258,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
	CTEXT		"",1047,71,191,96,19,WS_GROUP | SS_SUNKEN
	LTEXT		"波特率:",-1,13,197,27,8,WS_GROUP
	LTEXT		"操作状态:",-1,13,230,35,8,WS_GROUP
	COMBOBOX	1029,65,15,35,396,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
	PUSHBUTTON	"修改比例因子",1014,309,75,72,19,BS_LEFT | BS_RIGHT
	PUSHBUTTON	"修改压力单位",1015,309,111,72,19,BS_LEFT | BS_RIGHT
	PUSHBUTTON	"修改变送器地址",1016,309,149,72,19,BS_LEFT | BS_RIGHT
	PUSHBUTTON	"修改波特率",1017,309,187,72,19,BS_LEFT | BS_RIGHT
	COMBOBOX	1031,201,115,88,211,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
	LTEXT		"压力单位:",-1,12,121,35,8,WS_GROUP
	PUSHBUTTON	"退出",1,308,224,72,18,0
	CONTROL	"",-1,"Static",SS_GRAYFRAME | SS_SUNKEN,7,67,374,2
	CTEXT		"",1045,71,115,96,19,WS_GROUP | SS_SUNKEN
	CTEXT		"当前参数",-1,72,53,70,8,WS_GROUP
	CTEXT		"参数修改为",-1,219,53,38,8,WS_GROUP
END

136 DIALOG 0,0,258,138
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "命令窗口"
FONT 10, "宋体"
BEGIN
	PUSHBUTTON	"发送",1020,199,16,52,17,0
	CTEXT		"命令:",1040,8,17,45,23,WS_GROUP
	EDITTEXT	1018,54,19,136,29,WS_BORDER | ES_AUTOHSCROLL
	CTEXT		"响应:",1041,8,66,45,23,WS_GROUP
	EDITTEXT	1019,54,67,136,29,WS_BORDER | ES_AUTOHSCROLL
	PUSHBUTTON	"退出",1,199,44,52,17,0
END

137 DIALOG 0,0,471,306
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "数据采集记录"
FONT 10, "宋体"
BEGIN
	CONTROL	"List1",1021,"SysListView32",WS_TABSTOP | WS_BORDER | CBS_SIMPLE,7,30,457,256
	PUSHBUTTON	"退出",1,403,7,53,16,0
	PUSHBUTTON	"开始采集",1036,171,7,55,16,0
	PUSHBUTTON	"停止采集",1037,250,7,53,16,0
	PUSHBUTTON	"连接变送器",1038,7,7,68,16,0
	PUSHBUTTON	"参数设置",1054,327,7,52,16,0
	CONTROL	"Progress1",1060,"msctls_progress32",WS_BORDER,7,288,457,11
	PUSHBUTTON	"停止连接",1067,91,7,56,16,0
END

138 DIALOG 0,0,377,246
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "变送器校准"
FONT 10, "宋体"
BEGIN
	DEFPUSHBUTTON	"退出",1,316,7,53,17,0
	CONTROL	"List1",1023,"SysListView32",WS_TABSTOP | WS_BORDER | CBS_SIMPLE,7,37,363,188
	PUSHBUTTON	"连接变送器",1024,9,7,59,17,0
	PUSHBUTTON	"零位校准",1025,137,7,54,17,0
	PUSHBUTTON	"满量程校准",1026,196,7,54,17,0
	PUSHBUTTON	"保存数据",1027,255,7,56,17,0
	CONTROL	"Progress1",1060,"msctls_progress32",WS_BORDER,7,228,80,11
	PUSHBUTTON	"停止连接",1066,73,7,59,17,0
END

143 DIALOG 0,0,213,124
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "数据采集及保存参数"
FONT 10, "宋体"
BEGIN
	DEFPUSHBUTTON	"确定",1,156,7,50,16,0
	PUSHBUTTON	"取消",2,156,28,50,16,0
	LTEXT		"数据采样周期:",-1,10,19,50,8,WS_GROUP
	EDITTEXT	1055,63,16,40,14,WS_BORDER | ES_AUTOHSCROLL
	LTEXT		"秒",-1,105,19,8,8,WS_GROUP
	LTEXT		"数据保存周期:",-1,10,49,50,8,WS_GROUP
	EDITTEXT	1056,63,47,40,14,WS_BORDER | ES_AUTOHSCROLL
	LTEXT		"(采样周期的整倍数)",-1,105,50,68,8,WS_GROUP
	LTEXT		"数据保存路径:",-1,10,96,50,8,WS_GROUP
	EDITTEXT	1057,63,93,110,14,WS_BORDER | ES_AUTOHSCROLL
	PUSHBUTTON	"...",1058,173,93,16,14,0
	LTEXT		"数据文件名称:",-1,10,72,50,8,WS_GROUP
	EDITTEXT	1059,63,68,110,14,WS_BORDER | ES_AUTOHSCROLL
END

174 DIALOGEX 0,0,482,319
STYLE WS_POPUP | WS_CAPTION | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SYSMENU
CAPTION "数字压力变送器实时采集曲线"
FONT 10, "宋体"
BEGIN
	CONTROL	"",1073,"{3A2B370C-BA0A-11D1-B137-0000F8753F5D}",WS_TABSTOP,7,0,394,245
	GROUPBOX	"通道选择",1081,414,36,61,58,0
	COMBOBOX	1076,420,48,50,180,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
	CONTROL	"显示",1078,"Button",BS_AUTORADIOBUTTON,429,65,31,10
	CONTROL	"关闭",1079,"Button",BS_AUTORADIOBUTTON,429,80,31,10
	PUSHBUTTON	"颜色选择",1080,420,131,50,14,0
	PUSHBUTTON	"搜索变送器",1083,418,6,50,14,0
	CONTROL	"Progress1",1060,"msctls_progress32",WS_BORDER,418,22,50,11
	EDITTEXT	1085,272,268,21,14,WS_BORDER | ES_NUMBER | ES_AUTOHSCROLL
	CONTROL	"Spin1",1087,"msctls_updown32",CBS_DROPDOWN | CBS_OWNERDRAWFIXED,293,268,10,14
	EDITTEXT	1089,272,292,21,14,WS_BORDER | ES_NUMBER | ES_AUTOHSCROLL
	GROUPBOX	"缩放",1090,249,261,66,51,0
	LTEXT		"X:",1091,259,271,9,8,WS_GROUP
	LTEXT		"Y:",1092,260,294,9,8,WS_GROUP
	GROUPBOX	"操作",1093,415,153,60,91,0
	PUSHBUTTON	"停止",1094,420,185,50,14,0
	PUSHBUTTON	"历史曲线",1095,420,205,50,14,0
	PUSHBUTTON	"开始",1096,420,165,50,14,0
	PUSHBUTTON	"退出",1,420,225,50,14,0
	SCROLLBAR	1104,7,246,394,11,0
	SCROLLBAR	1105,401,0,10,244,SBS_VERT
	CONTROL	"Spin1",1106,"msctls_updown32",CBS_DROPDOWN | CBS_OWNERDRAWFIXED,293,291,10,14
	GROUPBOX	"采样周期(秒)",1107,23,261,68,51,0
	EDITTEXT	1108,38,277,29,14,WS_BORDER | ES_AUTOHSCROLL
	GROUPBOX	"量程设置",1109,105,261,129,51,0
	EDITTEXT	1110,156,268,61,14,WS_BORDER | ES_AUTOHSCROLL
	EDITTEXT	1111,156,292,61,14,WS_BORDER | ES_AUTOHSCROLL
	LTEXT		"上限值:",1112,119,271,27,8,WS_GROUP
	LTEXT		"下限值:",1113,119,294,27,8,WS_GROUP
	CTEXT		"",1114,333,265,142,27,WS_GROUP | SS_SUNKEN
	GROUPBOX	"线色设置",1116,414,100,61,50,0
	COMBOBOX	1115,420,112,50,70,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
END

179 DIALOG 0,0,254,161
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "历史曲线载入设定"
FONT 10, "宋体"
BEGIN
	DEFPUSHBUTTON	"确定",1,66,140,50,14,0
	PUSHBUTTON	"取消",2,147,140,50,14,0
	CONTROL	"DateTimePicker1",1098,"SysDateTimePick32",WS_TABSTOP,25,19,78,15
	CONTROL	"DateTimePicker2",1100,"SysDateTimePick32",WS_TABSTOP | CBS_SIMPLE,25,45,78,15
	GROUPBOX	"起始日期",-1,7,7,114,62,0
	GROUPBOX	"结束日期",-1,133,7,114,62,0
	CONTROL	"DateTimePicker3",1101,"SysDateTimePick32",WS_TABSTOP,152,19,78,15
	CONTROL	"DateTimePicker4",1102,"SysDateTimePick32",WS_TABSTOP | CBS_SIMPLE,152,45,78,15
	GROUPBOX	"变送器地址选择",-1,7,77,240,41,0
	COMBOBOX	1103,88,93,78,234,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN
END

30721 DIALOG 9,26,183,70
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_3DLOOK
CAPTION "新建"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"新建(&N)",-1,6,5,123,8,0
	LISTBOX	100,6,15,125,49,WS_TABSTOP | WS_BORDER | WS_VSCROLL | LBS_NOTIFY
	DEFPUSHBUTTON	"确定",1,137,6,40,14,0
	PUSHBUTTON	"取消",2,137,23,40,14,0
	PUSHBUTTON	"帮助(&H)",-7866,137,43,40,14,0
END

30722 DIALOG 6,18,133,95
STYLE WS_POPUP | WS_CAPTION | DS_MODALFRAME | DS_3DLOOK
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
	CTEXT		"打印",-1,0,9,133,8,WS_GROUP
	CTEXT		"",201,0,19,133,8,WS_GROUP
	CTEXT		"在...上",-1,0,29,133,8,WS_GROUP
	CTEXT		"",202,0,39,133,8,WS_GROUP
	CTEXT		"",203,0,49,133,8,WS_GROUP
	CTEXT		"",204,0,59,133,8,WS_GROUP
	PUSHBUTTON	"取消",2,46,74,40,14,0
END

30723 DIALOG 0,0,330,16
STYLE WS_CHILD | DS_3DLOOK
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
	PUSHBUTTON	"打印(&P)...",-7420,2,2,44,12,0
	PUSHBUTTON	"下一页(&N)",-7422,48,2,44,12,0
	PUSHBUTTON	"前一页(&V)",-7421,94,2,44,12,0
	PUSHBUTTON	"",-7423,140,2,44,12,0
	PUSHBUTTON	"放大(&I)",-7419,186,2,44,12,0
	PUSHBUTTON	"缩小(&O)",-7418,232,2,44,12,0
	PUSHBUTTON	"关闭(&C)",-7424,278,2,44,12,0
END

STRINGTABLE DISCARDABLE
BEGIN
	128	"DAP_Serial\n\nDAP_Se\ndap\n.dap\nDAPSerial.Document\nDAP_Se Document"
	32771	"设置系统参数!"
	32772	"显示程序信息，版本号和版权\n配置参数\n配置参数"
	32773	"显示程序信息，版本号和版权\n查看参数\n查看参数"
	32774	"显示程序信息，版本号和版权\n模块指令\n模块指令"
	32775	"显示程序信息，版本号和版权\n采集数据\n采集数据"
	32776	"显示程序信息，版本号和版权\n校准\n校准"
	32777	"显示程序信息，版本号和版权\n串口设置\n串口设置"
	57344	"高压电缆"
	57345	"就绪"
	57600	"建立新文档\n新建"
	57601	"打开一个现有文档\n打开"
	57602	"关闭活动文档\n关闭"
	57603	"保存活动文档\n保存"
	57604	"将活动文档以一个新文件名保存\n另存为"
	57605	"改变打印选项\n页面设置"
	57606	"改变打印机及打印选项\n打印设置"
	57607	"打印活动文档\n打印"
	57609	"显示整页\n打印预览"
	57616	"打开该文档"
	57617	"打开该文档"
	57618	"打开该文档"
	57619	"打开该文档"
	57620	"打开该文档"
	57621	"打开该文档"
	57622	"打开该文档"
	57623	"打开该文档"
	57624	"打开该文档"
	57625	"打开该文档"
	57626	"打开该文档"
	57627	"打开该文档"
	57628	"打开该文档"
	57629	"打开该文档"
	57630	"打开该文档"
	57631	"打开该文档"
	57632	"删除被选对象\n删除"
	57633	"全部删除\n全部删除"
	57634	"复制被选对象并将其置于剪贴板上\n复制"
	57635	"剪切被选对象并将其置于剪贴板上\n剪切"
	57636	"查找指定的正文\n查找"
	57637	"插入剪贴板内容\n粘贴"
	57640	"重复上一步操作\n重复"
	57641	"用不同的正文替换指定的正文\n替换"
	57642	"选择整个文档\n选择全部"
	57643	"撤消最后一步操作\n撤消"
	57644	"重新执行先前已撤消的操作\n重新执行"
	57653	"将活动的窗口分隔成窗格\n分隔"
	57664	"显示程序信息，版本号和版权\n关于"
	57665	"退出应用程序；提示保存文档\n退出"
	57680	"切换到下一个窗格\n下一窗格"
	57681	"切换回前一个窗格\n前一窗格"
	59136	"扩展名"
	59137	"大写"
	59138	"数字"
	59139	"滚动"
	59140	"改写"
	59141	"记录"
	59392	"显示或隐藏工具栏\n显隐工具栏"
	59393	"显示或隐藏状态栏\n显隐状态栏"
	61184	"改变窗口大小"
	61185	"改变窗口位置"
	61186	"将窗口缩小成图标"
	61187	"把窗口放大到最大尺寸"
	61188	"切换到下一个文档窗口"
	61189	"切换到先前的文档窗口"
	61190	"关闭活动的窗口并提示保存所有文档"
	61202	"把窗口恢复到正常大小"
	61203	"激活任务表"
	61440	"打开"
	61441	"保存为"
	61442	"所有文件 (*.*)"
	61443	"无标题"
	61445	"关闭打印预览模式\n取消预阅"
	61446	"一未命名文件"
	61457	"隐藏(&H)"
	61472	"得不到出错信息。"
	61473	"试图执行系统不支持的操作。"
	61474	"必需的资源无法得到。"
	61475	"内存不足。"
	61476	"出现了未知的错误"
	61504	"于 %1"
	61505	"一页(&O)"
	61506	"两页(&T)"
	61507	"第 %u 页"
	61508	"第 %u 页 \n第 %u 页-第 %u 页 \n"
	61509	"prn"
	61510	"Output.prn"
	61511	"打印机文件 (*.prn)|*.prn|所有文件 (*.*)|*.*||"
	61512	"印出到文件"
	61513	"到 %1"
	61696	"无效的文件名。"
	61697	"打开文档失败。"
	61698	"保存文档失败。"
	61699	"将改动保存到 %1？"
	61700	"建立空文档失败。"
	61701	"该文件太大，无法打开。"
	61702	"无法启动打印作业。"
	61703	"启动帮助失败。"
	61704	"内部应用程序出错。"
	61705	"命令失败。"
	61706	"没有足够的内存执行操作。"
	61707	"系统注册项已被移除并且相应的 INI 文件（假如存在）也被删除。"
	61708	"不是所有的系统注册项（或 INI 文件）都被移除。"
	61709	"在系统中没有找到此程序需要的文件%s。"
	61710	"此程序连接到文件 %s 中丢失的输出 %s 。此机器可能有一个 %s 不兼容的版本。"
	61712	"请键入一个整数。"
	61713	"请键入一个数。"
	61714	"“请填入一个在%1和%2之间的整数。”"
	61715	"“请填入一个在%1和%2之间的数字。”"
	61716	"“请填入不多于%1个的字符。”"
	61717	"请选择一个按钮。"
	61718	"“请填入一个在0和255之间的整数。”"
	61719	"“请填入一个正整数。”"
	61720	"“请填入一个日期和/或时间值。”"
	61721	"“请填入一个货币值。”"
	61728	"非预期的文件格式。"
	61729	"无法找到该文件。\n请验证给出的路径和文件名是否正确。"
	61730	"目的磁盘驱动器已满。"
	61731	"无法对 %1 进行读操作，它已经被其他人打开。"
	61732	"无法对 %1 进行写操作，因为它是只读文件或已经被其他人打开。"
	61733	"在对 %1 进行读操作时发生了一个非预期的错误。"
	61734	"在对 %1 进行写操作时发生了一个非预期的错误。"
	61836	"无法读只写特性。"
	61837	"无法写只读特性。"
	61840	"无法装入邮件系统支援。"
	61841	"邮件系统 DLL 无效。"
	61842	"传递邮件未能传递信息。"
	61856	"无错误发生。"
	61857	"在对 %1 进行访问时发生了一个不明错误。"
	61858	"没有找到 %1。"
	61859	"%1 中包含无效的路径。"
	61860	"无法打开 %1 因为太多文件已被打开。"
	61861	"对 %1 的存取被拒绝。"
	61862	"一个无效的文件柄与 %1 相关联。"
	61863	"无法删除 %1 因为它是当前目录。"
	61864	"该目录已满，无法创建 %1。"
	61865	"对 %1 进行查找失败。"
	61866	"在存取 %1 时一个硬件输入/输出错误被报告。"
	61867	"在存取 %1 时发生共享违例。"
	61868	"在存取 %1 时发生锁违例。"
	61869	"在存取 %1 时磁盘已满。"
	61870	"试图越过其尾端对 %1 进行读写。"
	61872	"无错误发生。"
	61873	"在对 %1 进行访问时发生了一个不明错误。"
	61874	"试图在对 %1 进行读操作的同时对其进行写操作。"
	61875	"试图越过其尾端对 %1 进行读写。"
	61876	"试图在对 %1 进行写操作的同时对其进行读操作。"
	61877	"%1 格式错。"
	61878	"%1 含有非预期的对象。"
	61879	"%1 包含错误的模式。"
	61888	"象素"
	65535	"设置串口通信参数!"
END
